body {
	font-family: Georgia, Times, "Times New Roman", serif;
	margin:40px auto;
	max-width: 750px;
	line-height:1.6;
	font-size:18px;
	color: #444;
	padding:0 10px
}

header h1 {
	margin-bottom: 5px;
}

a {
	color: #444;
}

h1, h2, h3 {
	line-height:1.2
}

aside {
	font-style: italic;
}

textarea {
	margin-bottom: 0;
	width: 80%;
	height: 80px;
}

.small-text {
	font-size: small;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 6px;
}

.error {
	color: #550000;
	background: #ffcccc;
	padding: 12px 20px 12px 20px;
	border: 1px solid #880000;
	border-radius: 6px;
}

.error a {
	color: #330000;
}

#trimester-selection {
	padding-bottom: 10px;
}
